{{#partial "content"}}

    <h1 style="text-color:black;">Hero list!</h1>
    {{#if heroes}} <!--if projects exist, then -->

        {{#each heroes }} <!--loop-->
        <p>Hero Name: {{hero_name}}</p>
        <p>Hero Age: {{hero_age}}</p>
        <p>Hero Power: {{hero_age}}</p>
        <p>Hero weakness: {{hero_age}}</p>
        <p>Squad: {{squad_id}}</p>
        <br>
        <p>------------------------------------------</p>
        {{/each}}
    {{else}} <!--no posts!-->
    <p>No heroes to display!</p>
    {{/if}}

{{/partial}}

{{> navbar.hbs}}